/dist/
/target/
/target/.*
.DS_Store
src-tauri/backup-icons
static/loadingscreen34sec_nielsmingcolab.mp4
static/low_introDanceOmatic2025.mp4
static/Choreo1_LetsDuetShort_english.mp4
static/Choreo2_Siblings_english.mp4
static/Choreo3_Hej-Nihao_english.mp4
static/Choreo4_culture4Fun_english.mp4
static/Choreo5_threeChefs_en.mp4