//green and yellow button (btn) + finger animation grafics... button function explainer grafics

.green-btn {
  position: absolute;
  bottom: 3%;
  right: 30%;
  width: clamp(60px, 7%, 110px); /* Responsive with min/max bounds */
  height: auto;
  z-index: 1;

}

.yellow-btn {
  position: absolute;
  bottom: 8%;
  right: 21%;
  width: clamp(60px, 7%, 110px);
  height: auto;
  z-index: 1;
}
// Button Animations handeled direcly in static/yellow_btn.svg & static/greenBtn.svg


/* Text positioning */
.txt_start_position {
  position: absolute;
  bottom: 13%;
  right: 29%;
  width: auto;
  height: clamp(30px, 10%, 90px);
  z-index: 0;
}

.txt_info_position {
  position: absolute;
  bottom: 18%;
  right: 18%;
  width: auto;
  height: clamp(30px, 10%, 70px);
  z-index: 0;
  transform-origin: bottom right 60px;
}


.txt_animation {
  opacity: 0;
}

@keyframes txt_animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.txt_animation-visible {
  opacity: 1;
  animation: txt_animation 0.2s alternate ease-out forwards;
  transform-origin: center;
  transform-box: fill-box;
}


// Styling and animation of finger movement
.point-finger {
  position: absolute;
  bottom: -8%;
  right: 32%;
  width: clamp(60px, 12%, 170px);
  height: auto;
  z-index: 2;
  transform: translateY(190px);
}


.point-finger-animate {
  animation: 
    // First sequence
    pointFingerMove1 var(--finger-animation-duration) ease-in-out forwards,
    pointFingerBounce1 var(--finger-bounce-duration) ease-in-out calc(var(--finger-animation-duration)),
    // 1 second delay before second sequence (using a dummy animation)
    pauseAnimation 1s calc(var(--finger-animation-duration) + var(--finger-bounce-duration)),
    // Second sequence
    pointFingerMove2 var(--finger-animation-duration) calc(var(--finger-animation-duration) + var(--finger-bounce-duration) + 1s) ease-in-out forwards,
    pointFingerBounce2 var(--finger-bounce-duration) ease-in-out calc(var(--finger-animation-duration) * 2 + var(--finger-bounce-duration) + 1s);
}

@keyframes pointFingerMove1 {
  0% { transform: translateY(190px); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0); }
}

@keyframes pointFingerMove2 {
  0% { transform: translateY(0); }
  50% { transform: translate(120px, -5px); }
  100% { transform: translate(135px, -30px); }
}

// Bounce animation remains the same
@keyframes pointFingerBounce1 {
  0% { transform: translateY(0); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0); }
}

@keyframes pointFingerBounce2 {
  0% { transform: translate(pointFingerMove2); }
  50% { transform: translate(135px, -10px); }
  100% { transform: translate(pointFingerMove2); }
}
