

@font-face {
  font-family: "PressStart2P-vaV7";
  src: url("static/PressStart2P-vaV7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$shade-0: #fff !default;
$shade-1: #d7dcdf !default;
$shade-10: #2c3e50 !default;
$teal: #FCE837 !default;

// Mixin for gradient text
@mixin gradient-text {
  background-image: linear-gradient(to bottom, $shade-1, $teal, #FC7800, );
  -webkit-background-clip: text;
  color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(24 24 27);
  font-family: "PressStart2P-vaV7";
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {@include gradient-text;}

.page {
  min-height: 100vh;
  min-width: 100vw;
  line-height: 1.5;
  tab-size: 4;
  font-feature-settings: normal;
  margin: 0;
  line-height: inherit;
}

.arcadefont {
  font-family: "PressStart2P-vaV7", sans-serif;
  font-size: 24px;
  color: $teal;
}

.fullscreenvideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.main_menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
}

.video-wrapper {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.svg-arrow-in-main {
  margin: 10px 0; // Add space around arrows if needed
  align-items: center;
}


.title-center {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}



.smallscreenvideo {
  max-width: 100%;
  max-height: 60vh;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-column {
  position: relative;
  top: 5%;
  left: 0px;
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
}

.video-info {
  width: 100%;
  text-align: left; // Centers the text within the video-info div
}


.video-info p {
  margin: 1 0;
  padding-bottom: 5%;
}


//import danceomatic logo animation styles
@import "logo_danceomatic";

// positioning of logo_danceomatic in main menu page.
.top-right-logo {
  position: absolute;
  top: 1%;
  right: 15%;
  width: 20%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  transform: (50%, 50%);
}
// end of danceOmatic logo animation and class


@import "btn_explainer_graphics";

//Styling for about_choreo pages
.about-choreo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 5rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}


.svg-arrow-in-about-top {
  position: absolute;
  left: 15em;
  top: 1rem;
  z-index: 2;
  height: auto;
}

.svg-arrow-in-about-bottom {
  position: absolute;
  left: 15em;/* Centers it horizontally */
  z-index: 2;
  bottom: 2rem;
  height: auto;
}


/* Webkit-specific style to hide scrollbar */
.about-choreo-container::-webkit-scrollbar {
  width: 0px;  /* Hides the scrollbar */
  height: 0px;
}


.info-section-container {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  align-items: center; /* Align image and text vertically */
  width: 100%;
  max-width: 800px;
  margin: 2rem 0;
  // background-color: #e82827;
  padding: 1rem; /* Optional padding for inner spacing */
  border-radius: 8px;
  border-color: #EB66A2;
  border-width: 2px; 
  border-style: solid;

}

.info-section-container img {
  width: 200px; /* Set to desired size */
  height: auto;
  margin-right: 1rem; /* Space between image and text */
  border-radius: 4px;
  object-fit: cover;
}

.info-section-container .description {
  flex: 1;
}

.name-and-stats-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75rem;
  flex-grow: 1;
  // background-color: yellow;
}

//section for the styling progress bar
.stat-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.stat-label {
  font-size: 1rem; //<--size of "strength" & "flexibility"
  width: 11rem;
}

.stat-bar-border {
  flex-grow: 1;
  height: 20px;
  border-color: #EB66A2;
  border-width: 2px; 
  border-style: solid;
  border-radius: 4px;
  overflow: hidden;
}

.stat-bar-fill {
  height: 100%;
  background-image: linear-gradient(to right, #EB66A2, #FC7800, #FCE837);
  transition: width;
  animation: fill-bar 1.3s ease;
}
@keyframes fill-bar {
  0% { width: 0%; }
  100% {width: var(--stat-percentage); }
}


.stat-value {
  min-width: 24px;
  text-align: right;
  font-size: 0.875rem;
}