@font-face {
  font-family: "PressStart2P-vaV7";
  src: url("static/PressStart2P-vaV7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$shade-0: #fff !default;
$shade-1: #d7dcdf !default;
$shade-10: #2c3e50 !default;
$teal: #1abc9c !default;

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(24 24 27);
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;
}

.page {
  min-height: 100vh;
  min-width: 100vw;
  line-height: 1.5;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  margin: 0;
  line-height: inherit;
}

img {
  max-height: 500px;
  max-width: 20%;
}

.fullscreenvideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.main_menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
}

.video-wrapper {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-center {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.smallscreenvideo {
  max-width: 100%;
  max-height: 60vh;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-column {
  position: relative;
  top: 5%;
  left: 0px;
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
}


.video-info {
  width: 100%;
  text-align: left; // Centers the text within the video-info div
}

.arcadefont {
  font-family: "PressStart2P-vaV7", sans-serif;
  font-size: 24px;
  color: $teal;
}

.video-info p {
  margin: 1 0;
  padding-bottom: 5%;
}

// dance_o_matic_logo animation code

.letter {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.letter.show {
  opacity: 1;
}

#shadeEffect {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#shadeEffect.show {
  opacity: 1;
}

@keyframes Pil {
  from {
    transform: rotateZ(-0.2turn);
  }
  to {
    transform: rotateZ(-0turn);
  }
}


#Pil {
  transform-origin: center bottom;
  animation: Pil 0.5s forwards;
}

@keyframes Lyn {
  0% {
    opacity: 0;
    transform: translate(0%, -100%);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

}
  #Lyn {
    opacity: 0;
    animation: Lyn 0.15s alternate forwards;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: 0.3s;
  }

  @keyframes Explotion {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  #Explotion {
    opacity: 0;
    animation: Explotion 0.2s alternate ease-out forwards;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: 2.7s;
  }

  @keyframes showLetter {
    0% {
      opacity: 0;
      transform: scale(
        10
      ); /* Start with the letter scaled up and positioned above */
    }
    50% {
      opacity: 1;
      transform: scale(1); /* Scale down and move to original position */
    }
  }

  .letter {
    opacity: 0;
    animation-fill-mode: forwards;
    transform-origin: center; /* Ensure the scaling happens from the center of the letter */
  }

  .letter.show {
    opacity: 1;
    animation: showLetter 1s ease-in forwards;
  }
  
  #O_inside_Shade-2 {
    opacity: 0; /* Initially hidden */
    animation: fadeInPath 0.3s forwards; /* Animation to fade in */
    animation-delay: 2.4s;
  }

  @keyframes fadeInPath {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #shadeEffect {
    opacity: 0;
    transition: 0.5s;
  }

  #shadeEffect.show {
    opacity: 1;
  }
  .cls-1 {
    fill: #e82827;
  }

  .cls-2 {
    fill: #fcc326;
  }

  .cls-3 {
    fill: #fce837;
  }

  .cls-4 {
    fill: #fc7800;
  }

  .cls-20, .cls-5 {
    fill: #fdf600;
  }

  .cls-14, .cls-18, .cls-6 {
    fill: none;
  }

  .cls-19, .cls-20, .cls-6 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .cls-6 {
    stroke-width: 5px;
  }

  .cls-7 {
    fill: #ee582a;
  }

  .cls-8 {
    fill: #f18c2d;
  }

  .cls-9 {
    fill: #ee692b;
  }

  .cls-10 {
    fill: #f29f2f;
  }

  .cls-11 {
    fill: #ed7d2c;
  }

  .cls-12 {
    fill: #f0bc31;
  }

  .cls-13 {
    fill: #ef962e;
  }

  .cls-14 {
    stroke: #0a0803;
  }

  .cls-15 {
    fill: #3d180c;
  }

  .cls-16 {
    fill: #3c170c;
  }

  .cls-17 {
    fill: #413f00;
  }

  .cls-19 {
    fill: #ed64a3;
  }

// logo placement

.top-right-logo {
  position: absolute;
  top: 1%;
  right: 20%;
  width: 400px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  transform: (50%, 50%);
}

// end of danceOmatic logo animation and class